{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <small>
            Not signed up yet? <a href="{% url 'register' %}">Register</a>
        </small>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}