{% extends "base.html" %}
{% load static %}

{% block page_header %}
<nav class="navbar navbar-expand-lg bg-dark bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand text-white-50" href="/">Django Blog</a>
    <button class="navbar-toggler bg-body-secondary" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
      <form class="d-flex" role="form">
        <a href="#" class="btn btn-success mx-2" role="button">Sign In</a>
        <a href="#" class="btn btn-success mx-2" role="button">Register</a>
      </form>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="bg-body-secondary py-4">
    <div class="container">
      <h1 class="display1">Welcome to Amazing Blogs!</h1>
      <p>Raise your thoughts, not your voice</p>
      <p><a class="btn btn-primary bg-gradient btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
<div class="container py-4">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Business</h2>
      <p><a class="btn bg-gradient btn-outline-secondary" href="{% url 'business' %}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Sports</h2>
      <p><a class="btn bg-gradient btn-outline-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Entertainment</h2>
      <p><a class="btn bg-gradient btn-outline-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>
</div>
{% endblock %}
